
{% if block.settings.social_icon_1 %}
<li><a href="{{ block.settings.social_icon_1_url }}"><i class="fa fa-{{ block.settings.social_icon_1 }}"></i></a></li>
{% endif %}
{% if block.settings.social_icon_2 %}
<li><a href="{{ block.settings.social_icon_2_url }}"><i class="fa fa-{{ block.settings.social_icon_2 }}"></i></a></li>
{% endif %}
{% if block.settings.social_icon_1 %}
<li><a href="{{ block.settings.social_icon_3_url }}"><i class="fa fa-{{ block.settings.social_icon_3 }}"></i></a></li>
{% endif %}
{% if block.settings.social_icon_4 %}
<li><a href="{{ block.settings.social_icon_4_url }}"><i class="fa fa-{{ block.settings.social_icon_4 }}"></i></a></li>
{% endif %}
{% if block.settings.social_icon_1 %}
<li><a href="{{ block.settings.social_icon_5_url }}"><i class="fa fa-{{ block.settings.social_icon_5 }}"></i></a></li>
{% endif %}

