<!-- header-top start -->
<div class="header-top" id="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 order-lg-1 col-md-5 order-1">
        <div class="top-selector-wrapper">
          <ul class="single-top-selector-left">
            {%- if settings.currency_enable -%}
            <!-- Currency Start -->
            <li class="currency list-inline-item">
              {%- include 'currency-picker' -%}
            </li>
            <!-- Currency End -->
            {%- endif -%}
          </ul>
        </div>
      </div>
      <div class="col-lg-4 order-lg-2 col-md-12">
        <!-- logo start -->
        <div class="logo text-center">
          {%- include 'header-logo' -%}
        </div>
        <!-- logo end -->
      </div>
      <div class="col-lg-4 order-lg-3 col-lg-4 col-md-7 order-2">
        <div class="header-bottom-right">

          <ul class="single-setting-selector">
            <!-- Sanguage Start -->
            <li class="setting-top list-inline-item">
              <div class="btn-group">
                <button class="dropdown-toggle"><i class="fa fa-user-circle-o"></i> {{ section.settings.top_menu_title }} <i class="fa fa-angle-down"></i></button>
                <div class="dropdown-menu">
                  <ul>
                    {% assign header_top_menu_handle = section.settings.header_top_menu %}
                    {% for link in linklists[header_top_menu_handle].links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                    {% if shop.customer_accounts_enabled and customer %}
                    <li><a href="/account/logout">{{ section.settings.signout_title }}</a></li>
                    {% else %}
                    <li><a href="/account/login">{{ section.settings.signin_title }}</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </li>
            <!-- Sanguage End -->
          </ul>
          {% if section.settings.search_enable %}
          <!-- block-search start -->
          <div class="block-search">
            <div class="trigger-search"><i class="fa fa-search"></i> <span>{{ section.settings.search_title }}</span></div>
            <!-- search-box start -->
            <div class="search-box main-search-active">
              {% include 'search-bar' %}
            </div>
            <!-- search-box end -->
          </div>
          <!-- block-search end -->
          {%  endif %}
          <div class="shoping-cart">
            {%- include 'mini-cart' -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header-top end -->



<style>
  
     #header-top.header-top{
    padding-top:{{ section.settings.section_padding_top }}px;
  }
  
 #header-top.header-top{
    padding-bottom:{{ section.settings.section_padding_bottom }}px;
  }
  
  #header-top.header-top {
    background: {{ section.settings.bg_color }};
}

  
  
  </style>