{%- assign on_sale = false -%}
{%- if bold_compare_at_price > bold_price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = bold_selected_or_first_available_variant -%}
{%- include 'bold-variant' with variant, output: 'none' -%}

{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%}  

{% if item.featured_image %}
<div class="row product-layout-list">
  <div class="col-lg-4 col-md-5">
    <!-- single-product-wrap start -->
    <div class="single-product-wrap">
      <div class="product-image">
        <a href="{{ item.url | within: collection }}"><img src="{{ item.featured_image.src | img_url: 'large' }}" alt=""></a>
      </div>
    </div>
    <!-- single-product-wrap end -->
  </div>
  <div class="col-lg-8 col-md-7">
    <div class="product_desc">
      <!-- single-product-wrap start -->
      <div class="product-content-list">
        <h3><a href="{{ item.url | within: collection }}">{{ item.title }}</a></h3>
        <div class="price-box">
          <span class="new-price">{{ bold_price | money }}</span>
          {% if bold_compare_at_price_max > bold_price %}
          <span class="old-price">{{ bold_compare_at_price | money }}</span>
          {% endif %}
        </div>
        <div class="product-description">
          {%- if item.description contains '[short_description]' -%} 
          {%- assign short_description_first = item.description | split:'[/short_description]' | first -%}
          {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
          {{ short_description_final }}
          {%- else -%}
          {{ item.description | strip_html | truncatewords: 50 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first }}
          {%- endif -%}
        </div>
      </div>
      <!-- single-product-wrap end -->
    </div>
  </div>
</div>
{% else %}
<div class="row product-layout-list">
  <div class="col-lg-12 col-md-12">
    <div class="product_desc">
      <!-- single-product-wrap start -->
      <div class="product-content-list">
        <h3><a href="{{ item.url | within: collection }}">{{ item.title }}</a></h3>
        <div class="product-description">
          <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
        </div>
      </div>
      <!-- single-product-wrap end -->
    </div>
  </div>
</div>

{% endif %}