

<!-- Latest Blog Posts Area start -->
<div class="latest-blog-post-area" id="section-{{ section.id }}">
  <div class="container">
    {% if section.settings.section_title != '' or section.settings.section_description != '' %}
    <div class="row">
      <div class="col-lg-12">
        <!-- section-title start -->
        <div class="section-title">
          <h2>{{ section.settings.section_title }}</h2>
          <p>{{ section.settings.section_description }}</p>
        </div>
        <!-- section-title end -->
      </div>
    </div>
    {% endif %}

    <div class="row latest-blog-slider">
      {% assign blogs = blogs[section.settings.latest_blog] %}
      {% for article in blogs.articles %}
      <div class="col-lg-4">
        {% include 'blog-grid-item-2' %}
      </div>
      {% endfor %}
    </div>

  </div>
</div>
<!-- Latest Blog Posts Area End -->

<style>
  
    {% if section.settings.section_title_bg_image %}
 #section-{{ section.id }} .section-title {
    background: url({{ section.settings.section_title_bg_image | img_url: 'master' }});
   background-repeat: no-repeat;
    background-position: bottom center;
   margin-bottom: 20px;
    padding-bottom: 60px;
}
{% endif %}
  
  
  
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
</style>

<script>
    /*-- 
        Blog Slider 
    --------------------------*/
    var latestBlogSlider = $('#section-{{ section.id }} .latest-blog-slider');
    latestBlogSlider.slick({
        arrows: true,
{% if settings.rtl_enable %} rtl:true, {% endif %}
        autoplay: false,
        dots: false,
        infinite: true,
        slidesToShow: {{ section.settings.blog_cursole_handle }},
        slidesToScoll: 1,
        prevArrow:true,
        nextArrow: true,
        prevArrow: '<button type="button" class="slick-prev"> <i class="fa fa-angle-left"></i> </button>',
        nextArrow: '<button type="button" class="slick-next"><i class="fa fa-angle-right"></i></button>',
        responsive: [
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 2,
              }
            },
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 1,
              }
            },
            {
              breakpoint: 520,
              settings: {
                slidesToShow: 1,
              }
            }
        ]
    }); 

</script>

{% schema %}
  {
    "name": "Latest Blog",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Latest Blog Posts"
      	},
		{
          "type": "textarea",
          "id": "section_description",
          "label": "Section Description",
          "default": "There are latest blog posts"
      	},
		{
		  "type": "header",
          "content": "Section Title Image"
        },
        {
          "type": "image_picker",
          "id": "section_title_bg_image",
          "label": "Image"
        },
		{
            "type": "blog",
            "id": "latest_blog",
            "label": "select your blog"
		},
        {
           "type": "select",
           "id": "blog_cursole_handle",
           "label": "Blog Cursole",
           "options":[
			  {
                  "value":"1",
                  "label": "1 Blog"
               },
				{
                  "value":"2",
                  "label": "2 Blog"
               },
               {
                  "value":"3",
                  "label": "3 Blog"
               },
               {
                  "value":"4",
                  "label": "4 Blog"
               },
               {
                  "value":"5",
                  "label": "5 Blog"
               },
               {
                  "value":"6",
                  "label": "6 Blog"
               },
               {
                  "value":"7",
                  "label": "7 Blog"
               },
               {
                  "value":"8",
                  "label": "8 Blog"
               },
               {
                  "value":"9",
                  "label": "9 Blog"
               },
               {
                  "value":"10",
                  "label": "10 Blog"
               },
               {
                  "value":"11",
                  "label": "11 Blog"
               },
               {
                  "value":"12",
                  "label": "12 Blog"
               }

            ],

            "default": "3"
        }
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
    "presets":[
        {
            "name": "Latest Blog",
            "category": "4. Blog"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
