
<!-- Product Area Start -->
<div class="product-area" id="section-{{ section.id }}">
  <div class="container">
    {% if section.settings.section_title != '' or section.settings.section_description != '' %}
    <div class="row">
      <div class="col-lg-12">
        <!-- section-title start -->
        <div class="section-title">
          <h2>{{ section.settings.section_title }}</h2>
          <p>{{ section.settings.section_description }}</p>
        </div>
        <!-- section-title end -->
      </div>
    </div>
    {% endif %}
    <!-- product-wrapper start -->
    <div class="product-wrapper">
      <div class="row">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'banner_product' -%}
        <div class="col-lg-{{ block.settings.product_coloum }} col-md-12">
          <div class="row">
            <div class="col-lg-12 {% if block.settings.banner_handle %}order-1{% else %} order-2 {% endif %}">
              <!-- single-banner-three start -->
              <div class="single-banner-three ">
                <a href="{{ block.settings.banner_img_url }}">
                  <img src="{% if block.settings.banner_img %}{{ block.settings.banner_img | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/570x585{% endif %}" alt="{{ block.settings.banner_img.alt }}">
                </a>
                <!-- banner-three-inner start -->
                <div class="banner-three-inner">
                  <a href="{{ block.settings.banner_img_url_2 }}">
                    <img src="{% if block.settings.banner_img_2 %}{{ block.settings.banner_img_2 | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/570x585{% endif %}" alt="{{ block.settings.banner_img_2.alt }}">
                  </a>
                </div>
                <!-- banner-three-inner end -->
              </div>
              <!-- single-banner-three end -->
            </div>
            <div class="col-lg-12  {% if block.settings.banner_handle %} order-2 {% else %} order-1 {% endif %}">
              <!-- deals-product-active start -->
              <div class="deals-product-active ">
                {% assign collection = collections[block.settings.collection] %}
                {% for product in collection.products %}
                <div class="col-12">
                  <div class="daily-deals-wrap">
                    {% include 'product-grid-item' %}
                  </div>
                </div>
                {% endfor %}
              </div>
              <!-- deals-product-active end -->
            </div>
          </div>
        </div>
         {%- endcase -%}
      {%- endfor -%}

      </div>
    </div>
    <!-- product-wrapper end -->
  </div>
</div>
<!-- Product Area End -->


<style>
  
  {% if section.settings.section_title_bg_image %}
 #section-{{ section.id }} .section-title {
    background: url({{ section.settings.section_title_bg_image | img_url: 'master' }});
   background-repeat: no-repeat;
    background-position: bottom center;
   margin-bottom: 20px;
    padding-bottom: 60px;
}
{% endif %}
  
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
</style>

<script>
  
      
      /*--
        Deals product active Slider
    -----------------------------------*/
    $('#section-{{ section.id }} .deals-product-active').slick({
        accessibility: false,
      {% if settings.rtl_enable %} rtl:true, {% endif %}
        dots: false,
        infinite: true,
        slidesToShow: {{ section.settings.product_cursole }},
        slidesToScroll: 1,
        autoplay: false,
        prevArrow:true,
        nextArrow: true,
        prevArrow: '<button type="button" class="slick-prev"> <i class="fa fa-angle-left"></i> </button>',
        nextArrow: '<button type="button" class="slick-next"><i class="fa fa-angle-right"></i></button>',
        responsive: [
            {
                breakpoint: 767,
                settings: {
                    slidesToShow: 2,
                }
            },
            {
                breakpoint: 520,
                settings: {
                    slidesToShow: 1,
                }
            }
        ]
    });
  
  </script>



{% schema %}
  {
    "name": "New Arrival Product",
    "settings": [
		{
		  "type": "header",
          "content": "Section Heading"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "New Arrivals"
      	},
		{
          "type": "textarea",
          "id": "section_description",
          "label": "Section Description",
          "default": "Most Trendy 2018 Clother"
      	},
		{
		  "type": "header",
          "content": "Section Title Image"
        },
        {
          "type": "image_picker",
          "id": "section_title_bg_image",
          "label": "Image"
        },
		{
		  "type": "header",
          "content": "Product"
        },
        {
          "type": "select",
          "id": "product_cursole",
          "label": "Product cursole",
          "options":[
			{
              "value":"1",
              "label": "1 products"
            },
			{
              "value":"2",
              "label": "2 products"
            },
            {
              "value":"3",
              "label": "3 products"
            },
            {
              "value":"4",
              "label": "4 products"
            },
            {
              "value":"5",
              "label": "5 products"
            },
            {
              "value":"6",
              "label": "6 products"
            },
            {
              "value":"7",
              "label": "7 products"
            },
            {
              "value":"8",
              "label": "8 products"
            },
            {
              "value":"9",
              "label": "9 products"
            },
            {
              "value":"10",
              "label": "10 products"
            },
            {
              "value":"11",
              "label": "11 products"
            },
            {
              "value":"12",
              "label": "12 products"
            }

          ],

          "default": "2"
        }
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       },
       {
            "type": "banner_product",
            "name": "banner Product",
            "settings": [
                {
                  "type": "text",
                  "id": "product_coloum",
                  "label": "Product Coloum Control",
                  "default": "6",
                  "info": "Follow Bootstrap Column"
                },
                {
                  "type": "header",
                  "content": "Banner Top/Bottom"
                },
                {
                  "type": "checkbox",
                  "id": "banner_handle",
                  "label": "Banner Control",
                  "default": true
                },
        		{
                    "type": "header",
                    "content": "Banner Image"
                },
                {
                    "type": "image_picker",
                    "id": "banner_img",
                    "label": "Image",
                    "info": "Recommended Size: 570 x 585px"
                },
                {
                    "type": "url",
                    "id": "banner_img_url",
                    "label": "URL"
                },
        		{
                    "type": "header",
                    "content": "Banner Hover Image"
                },
                {
                    "type": "image_picker",
                    "id": "banner_img_2",
                    "label": "Image",
                    "info": "Recommended Size: 570 x 585px"
                },
                {
                    "type": "url",
                    "id": "banner_img_url_2",
                    "label": "URL"
                },
                {
                  "type": "collection",
                  "id": "collection",
                  "label": "select your collection"
                }
            ]
         }
	],
    "presets":[
        {
            "name": "New Arrival Product",
            "category": "2. product"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
