
<!-- Our Services Area Start -->
<div class="our-services-area" id="section-{{ section.id }}">
  <div class="container">
    <div class="row">


      {% for block in section.blocks %}
      {%- case block.type -%}
      {%- when 'service' -%}
      <div class="col-lg-{{ block.settings.service_coloum }} col-md-6">
        <!-- single-service-item start -->
        <div class="single-service-item">
          {% if block.settings.service_icon %}
          <div class="our-service-icon">
            <i class="fa fa-{{ block.settings.service_icon }}"></i>
          </div>
          {% endif %}
          <div class="our-service-info">
            {% if block.settings.service_title != '' %}
            <h3>{{ block.settings.service_title }}</h3>
            {% endif %}
            {% if block.settings.service_description != '' %}
            <p>{{ block.settings.service_description }}</p>
            {% endif %}
          </div>
        </div>
        <!-- single-service-item end -->
      </div>
      {%- endcase -%}
      {% endfor %}


    </div>
  </div>
</div>
<!-- Our Services Area End -->


<style>
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
</style>

{% schema %}
  {
    "name": "Service Area",
    "settings": [
		
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       },
	   {
         "type": "service",
         "name": "Service",
         "settings": [
			{
				"type": "text",
				"id": "service_coloum",
				"label": "Service Coloum",
                "default": "3",
                "info": "Follow Bootstrap Column"
			},
            {
              "type": "text",
              "id": "service_icon",
              "label": "Icon",
              "default": "truck",
              "info": "[See More Icon](https:\/\/fontawsome.com\/)"
            },
			{
				"type": "text",
				"id": "service_title",
				"label": "Service Title",
                "default": "Free Shipping"
			},
			{
				"type": "textarea",
				"id": "service_description",
				"label": "Service Description",
                "default": "Free shipping on all US order or order above $200"
			}
        ]
       }
	],
    "presets":[
        {
            "name": "Service Area",
            "category": "5. about"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
