{% if section.settings.team_area_enable %}
<!-- content-wraper start -->
<div class="content-wraper" id="section-{{ section.id }}">
  <div class="container">
    <div class="row">
      <!-- Our Team Aare Start -->
      <div class="our-team-area">
        <div class="row">
          <div class="col-lg-12">
            <!-- section-title start -->
            <div class="section-title">
              {% if section.settings.section_title != '' %}
              <h2>{{ section.settings.section_title }}</h2>
              {% endif %}
              {% if section.settings.section_description != '' %}
              <p>{{ section.settings.section_description }}</p>
              {% endif %}
            </div>
            <!-- section-title end -->
          </div>
        </div>
        <div class="row">

          {% for block in section.blocks %}
          {% case block.type %}
          {% when 'team' %}
          <div class="col-lg-{{ block.settings.team_coloum }} col-md-6">
            <div class="single-team mt--30">
              <div class="team-imgae">
                <img src="{% if block.settings.team_image %}{{ block.settings.team_image | img_url: 'large' }}{% else %}http:\/\/via.placeholder.com\/390x450{% endif %}" alt="{{ team_image.alt }}">
                <div class="social-link">
                  {% include 'social-icon-share' %}
                </div>
              </div>
              <div class="team-info">
                {% if section.settings.member_title != '' %}
                <h3>{{ block.settings.member_title }}</h3>
                {% endif %}
                {% if section.settings.member_desigination != '' %}
                <p>{{ block.settings.member_desigination }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endcase %}
          {% endfor %}


        </div>
      </div>
      <!-- Our Team Aare End -->
    </div>
  </div>
</div>
<!-- content-wraper end -->
{% endif %}

<style>
  
   {% if section.settings.section_title_bg_image %}
 #section-{{ section.id }} .section-title {
    background: url({{ section.settings.section_title_bg_image | img_url: 'master' }});
   background-repeat: no-repeat;
    background-position: bottom center;
   margin-bottom: 20px;
    padding-bottom: 60px;
}
{% endif %}
  
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
</style>


{% schema %}
  {
    "name": "Team Area",
    "settings": [
		{
          "type": "checkbox",
          "id": "team_area_enable",
          "label": "Team Area Enable",
          "default": true
        },
		{
            "type": "header",
            "content": "Section Title"
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Team Members"
        },
        {
          "type": "textarea",
          "id": "section_description",
          "label": "Section Description",
          "default": "Most Trendy 2018 Clother"
        },
		{
		  "type": "header",
          "content": "Section Title Image"
        },
        {
          "type": "image_picker",
          "id": "section_title_bg_image",
          "label": "Image"
        }
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablate Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       },
	   {
         "type": "team",
         "name": "Team",
         "settings": [
			{
				"type": "text",
				"id": "team_coloum",
				"label": "Team Coloum",
                "default": "3",
                "info": "Follow Bootstrap Column"
			},
			{
				"type": "image_picker",
				"id": "team_image",
				"label": "Image",
				"info": "Recommended Size: 390 x 450px"
		    },
            {
                "type": "text",
                "id": "member_title",
                "label": "Member Name",
                "default": "Marcos Alonso"
            },
            {
                "type": "text",
                "id": "member_desigination",
                "label": "Member Desigination",
                "default": "web designer"
            },
            {
              "type": "header",
              "content": "Team Social"
            },
            {
              "type": "text",
              "id": "social_icon_1_name",
              "label": "Social Icon Name",
              "default": "fa-facebook",
              "info": "FontAwsome Icon [See Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "socila_icon_1_link",
              "label": "Link"
            },
            {
              "type": "header",
              "content": "Icon With Link"
            },
            {
              "type": "text",
              "id": "social_icon_2_name",
              "label": "Social Icon Name",
              "default": "fa-twitter",
              "info": "FontAwsome Icon [See Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "socila_icon_2_link",
              "label": "Link"
            },
            {
              "type": "header",
              "content": "Icon With Link"
            },
            {
              "type": "text",
              "id": "social_icon_3_name",
              "label": "Social Icon Name",
              "default": "fa-vimeo",
              "info": "FontAwsome Icon [See Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "socila_icon_3_link",
              "label": "Link"
            },
            {
              "type": "header",
              "content": "Icon With Link"
            },
            {
              "type": "text",
              "id": "social_icon_4_name",
              "label": "Social Icon Name",
              "default": "fa-google-plus",
              "info": "FontAwsome Icon [See Icon](https:\/\/fontawesome.com\/icons)"
            },
            {
              "type": "url",
              "id": "socila_icon_4_link",
              "label": "Link"
            }
        ]
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
